---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Copse');
html {
  background: linear-gradient(hsl(calc(0*60), 100%, 50%), hsl(calc(1*60), 100%, 50%), hsl(calc(2*60), 100%, 50%), hsl(calc(3*60), 100%, 50%), hsl(calc(4*60), 100%, 50%), hsl(calc(5*60), 100%, 50%), hsl(calc(6*60), 100%, 50%));
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,0.8));
    z-index: -1;
}
body:after {
  content: '';
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: -1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Copse';
}
h1 {
  font-size: 7em;
}
header {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: none;
  position: relative;
}
header h1, header .view {
  transform: rotate(-3deg);
}
a {
  color: #D31996;
}
.wrapper {
  width: auto;
  max-width: 1100px;
}
section {
  width: auto;
  margin-left: 290px;
  float: none;
}
header ul {
  height: auto;
  background: none;
  border: none;
  width: auto;
}
header li {
  width: auto;
  float: none;
  border: none;
  height: auto;
}
header ul li + li + li {
  border: none;
  width: auto;
}
header ul a {
  padding: 3px;
  text-align: left;
  height: auto;
  font-size: 0.8rem;
}
header ul a:hover {
  color: #D31996;
}
header ul em {
  font-style: normal;
  font-weight: 600;
}
#next-- {
  text-align: right;
}
@media print, screen and (max-width: 960px) {
  body {
    margin: 0;
  }
  header ul {
    position: inherit;
  }
  .wrapper, header, section, footer {
    width: 100%!important;
  }
  section {
    margin-left: 0;
  }
  table {
    overflow-x: scroll;
  }
  tr, td {
    display: block;
  }
  tr {
    margin-bottom: 1rem;
  }
  thead {
    display: none;
  }
  td {
    padding: 5px 0;
  }
  tr td:before {
    display: block;
    font-size: 0.6rem;
  }
  table:nth-of-type(1), table:nth-of-type(2) {
    tr td:nth-of-type(1):before {
      content: 'environment';
    }
    tr td:nth-of-type(2):before {
      content: 'config';
    }
    tr td:nth-of-type(3):before {
      content: 'required';
    }
    tr td:nth-of-type(4):before {
      content: 'description';
    }
  }
}
